<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Confirmação de cadastro</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    </head>
    <body>
        <div class="jumbotron">
            <h1>Obrigado!</h1>
                <h4>O email "{{ email }}" foi confirmado com sucesso! Seu usuário  "{{ usuario }}" já está ativo.<h4>
        </div>
    </body>
</html>